:root{
    --black:#24292e;
    --blue:#0366d6;
    --lblack:#24292e;
    --pintch:#e22e5d;
    --matrixGreen:#00ff00;

}
::selection{
    background: pink;
    color: var(--black);
}
body{
    padding: 0;
    margin: 0;
    background: #e1e4e8;
    font-family: 'Ubuntu', sans-serif;
}
nav{
    background: var(--black);
    padding: 16px 3px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navLogo{
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin: 0px 0px 0px 20px;
}
.navLogo::selection{
    background: none;
    color: none;
}
.navMenu{
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0px 20px 0px 0px;
}
.navMenu::selection{
    background: none;
    color: none;
}
.navMenu2::selection{
    background: none;
    color: none;
}
.navHeading{
    color: white;
    font-size: 0.8cm;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 100%;
    border: 1px solid var(--black);
    /* border-radius: 5px; */
    background: var(--black);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 20px 0px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 68px;
}
.menuSearch{
    border: 1px solid whitesmoke;
    border-radius: 3px;
    width: 80%;
    height: 30px;
    padding-left: 10px;
    font-weight: 700;
    font-family: arial;
    color: whitesmoke;
    background: transparent;
    margin-bottom: 10px;
}
.menuBtn{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 106px;
    right: 10%;
    z-index: 4;
}
input:focus{
    outline: none;
}
.menuSearch:focus{
    border: var(--blue) 1px solid;
    background: var(--lblack);
}
.navMenu2{
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin: 0px 20px 0px 0px;
}
.menu a{
    text-decoration: none;
}
.menuOpt{
    color: whitesmoke;
    font-weight: 600;
    font-family: Arial;
    margin: 10px 0px 10px 0px;
}
.menuOpt:hover{
color: #c2c2c2;
}
hr{
    width: 80%;
    border-color: hsla(0,0%,100%,.15);
}
.releases{
    border: 3px solid var(--blue);
    border-radius: 10px;
    padding: 20px;
    background: #3d4246;
    height: 300px;
    width: 70vw;
    overflow-y: scroll;
    position: absolute;
    top: 80px;
    left: 15vw;
    color: whitesmoke;
    font-weight: 600;
    font-family: arial;
    display: none;
    z-index: 2;
}
.closeReleases{
    position: relative;
    top: 160px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px 0px 5px 0px;
    font-weight: 700;
    font-family: Arial;
    cursor: pointer;
}

.releases2{
    border: 3px solid var(--blue);
    border-radius: 10px;
    padding: 20px;
    background: #3d4246;
    height: 300px;
    width: 70vw;
    overflow-y: scroll;
    position: absolute;
    top: 80px;
    left: 15vw;
    color: whitesmoke;
    font-weight: 600;
    font-family: arial;
    display: none;
    z-index: 3;
}
.closeReleases2{
    position: relative;
    top: 160px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px 0px 5px 0px;
    font-weight: 700;
    font-family: Arial;
    cursor: pointer;
}
.hr{
    width: 100%;
    border-color: hsla(0,0%,100%,.15);
    margin-bottom: 7px;
}
.mainComponentsTitle{
    background:#fff;
    height: 100vh;
    width: 20vw;
    float: left;
    overflow-y: scroll;
    overflow-x: scroll;
    z-index: -1;
}
.mainComponentsDetail{
    background:#e1e4e8;
    height: 100vh;
    width: 74vw;
    float: right;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 0px 0px 0px 4vw;
}
.repoICON{
    height: 20px;
    width: 20px;
}
.repocomp{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.allComponents a{
    text-decoration: none;
}
.compNames{
    color: var(--blue);
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: bold;
    margin: 10px 0px 0px 10px;
}
.compNames:hover{
    text-decoration: underline var(--blue);
}
.allComponents{
    position: relative;
    left: 20px;
    top: 30px;
}
.lhr{
    width: 16vw;
    border: 1px solid rgba(44, 7, 7, 0.281);
    position: relative;
    top: 50px;
    margin-bottom: 30px;
}
.flwlnks{
    height: 30px;
    width: 30px;
    margin-right: 5px;
}
.followlinks{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    left: 40px;
    top: 50px;
}
.ldethed{
    font-weight: 600;
    font-family: 'Encode Sans SC', sans-serif;
    color: var(--lblack);
    position: relative;
    top: 40px;
    left: 30px;
    margin-bottom: 7px;
}
.ldetdet{
    margin: 0px 10px 0px 30px;
    position: relative;
    top: 47px;
    font-family: 'Encode Sans SC', sans-serif;
    margin-bottom: 18px;
    font-size: 0.4cm;
}
.oldjasslink a{
    text-decoration: none;
    color: var(--blue);
}
.oldjasslink{
    color: var(--blue);
    font-weight: 600;
    font-family: 'Encode Sans SC', sans-serif;
    position: relative;
    left: 40px;
    top: 40px;
}
.oldjasslink:hover{
    text-decoration: underline var(--blue);
}
.topicHeading{
    font-weight: 600;
    font-size: 0.8cm;
    margin: 15px 0px 15px 0px;
}
.topicDetails{
    font-size: 0.5cm;
    margin: 10px 0px 10px 0px;
}
.blankspace{
    padding: 20px 0px 20px 0px;
}
.codeSection{
    background: #f8f9fa;
    padding: 15px 3px 15px 15px;
    overflow-x: scroll;
    border-radius: 7px;
    margin-right: 10px;
    width: 90%;
}
/* .copyButton{
    border: 1px solid #0d6efd;
    background: hsl(0, 0%, 100%);
    color: #0d6efd;
    font-weight: bold;
    border-radius: 7px;
    padding:5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
}
.copyButton:hover{
    background: #0d6efd;
    color: white;
} */
.titleLtoR{
    border: none;
    color: var(--blue);
    font-weight: bold;
    font-family: 'Encode Sans SC', sans-serif;
    background: transparent;
    position: relative;
    left: 30px;
    top: 40px;
    cursor: pointer;
}
.titleLtoR:hover{
    text-decoration: underline var(--blue);
}
.titleRtoL{
    border: none;
    color: var(--blue);
    font-weight: bold;
    font-family: 'Encode Sans SC', sans-serif;
    background: transparent;
    position: relative;
    left: 30px;
    top: 40px;
    cursor: pointer;
}
.titleRtoL:hover{
    text-decoration: underline var(--blue);
}
.advtBox{
    background: #f8f9fa;
    padding: 7px;
    width: 230px;
    height: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.advtimg{
    height: 100px;
    width: 100px;
}
.advttxt{
    font-size: 0.4cm;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 110px;
    width: 120px;
}
.navHeading::selection{
    color: #fff;
    background: var(--black);
}
.showCase{
    border: 1px solid rgba(44, 7, 7, 0.281);
    border-radius: 7px;
    padding:  15px 8px;
    width: 90%;
}
:root{
    --lightblue:#cfe2ff;
    --darkblue:#084298;

    --lightgrey:#e2e3e5;
    --darkgrey:#41464b;

    --lightgreen:#d1e7dd;
    --darkgreen:#0f5132;

    --lightred:#f8d7da;
    --darkred:#f8d7da;

    --lightyellow:#fff3cd;
    --darkyellow:#664d03;

    --lightcyan:#cff4fc;
    --darkcyan:#055160;

    --lightwhite:#fefefe;
    --darkwhite:#3b3b3b;

    --lightblack:#d3d3d4;
    --darkblack:#000;
}
.followlnksnav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flexboxROW{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flexboxCOLUMN{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.ResponsiveICON{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: 3px solid var(--black);
    background: white;
    border-radius: 10px;
    padding: 3px;
    display: none;
}

.ResponsiveICON2{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: 3px solid var(--black);
    background: white;
    border-radius: 10px;
    padding: 3px;
    display: none;
}
.ResponsiveMenu{
    border: 3px solid var(--black);
    padding: 10px;
    background: white;
    font-weight: 600;
    width: 200px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 300px;
    display: none;
    
}
.ResponsiveMenu a{
    text-decoration: none;
}

.ResponsiveMenu a:hover{
    text-decoration: underline var(--blue);
    
}



















@media screen and (max-width:900px) and (max-height:1280px){
    .mainComponentsTitle{
        display: none;
    }
    .mainComponentsDetail{
        width: 95vw;
        padding-left: 5vw;
    }
    .releases{
        position: absolute;
        top: 80px;
        left: 5vw;
    }
    .releases2{
        position: absolute;
        top: 80px;
        left: 5vw;
    }
    .flexboxROW{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ResponsiveICON{
display: block;
    }
    .ResponsiveICON2{
display: block;
    }
    .ResponsiveMenu{
display: block;
    }













}